node_modules/
_site/

# OS/editor
.DS_Store
.idea/
.vscode/

# Env & local configs
.env
.env.*
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches & temp
.cache/
.tmp/
dist/
coverage/

# Test outputs & reports
playwright-report/
test-results/

# Platform specific
.vercel/
.netlify/

# Keep this file for project notes not tracked by git
_IMPORTANT