{% macro icon(name, class="w-4 h-4", title="") %}
  {% set t = title or name %}
  {% if name == 'github' %}
    <i class="{{ class }} fa-brands fa-github fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'mastodon' %}
    <i class="{{ class }} fa-brands fa-mastodon fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'linkedin' %}
    <i class="{{ class }} fa-brands fa-linkedin fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'x' or name == 'twitter' %}
    <i class="{{ class }} fa-brands fa-x-twitter fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'rss' %}
    <i class="{{ class }} fa-solid fa-rss fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'mail' %}
    <i class="{{ class }} fa-solid fa-envelope fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'link' %}
    <i class="{{ class }} fa-solid fa-link fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'copy' %}
    <i class="{{ class }} fa-regular fa-copy fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% elseif name == 'share' %}
    <i class="{{ class }} fa-solid fa-share-nodes fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% else %}
    <i class="{{ class }} fa-solid fa-circle fa-fw" aria-hidden="true" title="{{ t }}"></i>
  {% endif %}
{% endmacro %}
